.searchBox{
    text-align: center;
    margin-top: 200px;
    align-content: center;
}

.blue-square-container {
    text-align: center;
    margin-top: 100px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
  }

  .txtbox{
      width: 80%;
      max-width: 600px;
      box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1), 0 5px 5px 0 rgba(0, 0, 0, 0.4);
      height: 40px;
      font-family: "Roboto", sans-serif;
      border: 1px solid #ccc;
    border-radius: 2px;
    box-sizing: border-box;
    padding-left: 8px;
  }

  .btncls{
      width: 20%;
      max-width: 80px;
      box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1), 0 5px 5px 0 rgba(0, 0, 0, 0.4);
      height: 42px;
      font-family: "Roboto", sans-serif;
      font-size: 15px;
    -webkit-transition: all 0.3 ease;
    cursor: pointer;
    transition: all 0.3 ease;
    padding-right: 8px;
    
  }

  p-dataView{
    margin-top: 10px;
  }
/* 
.generic{
    background-color: rgb(134, 185, 137);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.4);

    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    box-sizing: content-box;
}

a{
    color:rgb(31, 31, 185);
}

.searchBox{
    text-align: center;
    margin-top: 20px;
    display: inline;
}

.inputs {
    display: flex
  }
  
.same-line{
    display: inline;
}

.input-group{
    display: flex;
}
.search-button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    /* width: 100%; 
    border: 0;
    border-radius: 2px;
    padding: 3px;
    color: #FFFFFF;
    font-size: 10px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    box-sizing: content-box;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  } */

  /* input{
      height: 40px;
      margin-top: 20px;
      box-shadow: 0 0 20px 0 rgba(255,255,255,0.0), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  } */